$drawerHeaderBgColor = #0B63CE

// title near search
$headerSearchTitleColor = white
$headerSearchFontSize = 30px
$headerSearchFontWeight = 600

// header search
$searchWidth = 424px
$searchVerticallyPadding = 1.4rem
$searchHorizontallyPadding = 2rem
$searchColorText = black
$searchColorFontSize = 14px

//cross
$crossImgSize = 20px
$crossColor = #DCDCDC

// drawer tabs
$drawerTabsGap = 30px
$drawerTabsMarginBottom = 20px
$drawerTabsMarginTop = 43px
$drawerTabTextSize = 14px
$drawerTabTextColor = white
//drawer active tabs
$drawerTabActiveBgColor = white
$drawerTabActiveTextSize = 13px
$drawerTabActiveTextColor = #3D3D3D
$drawerTabActiveBorderRadius = 5px
$drawerTabActivePaddingVertically = 22.5px
$drawerTabActivePaddingHorizontally = 30px


//main
$drawerMainBackgroundColor = white
$drawerMainMarginTop = 45px
$drawerMainMarginBottom = 43px
$drawerMainMaxWidth = 1137px

//main breadcrumb
$drawerBreadcrumbColor = black
$drawerBreadcrumbFontSize = 24px
$drawerBreadcrumbLineHeight = 27.74px

//main search result
$drawerSearchResultColor = black
$drawerSearchColumnGap = 120px
$drawerSearchRowGap = 45px

// main search one article
$drawerOneSearchResultMaxWidth = 550px
$drawerOneSearchResultGap = 9px

//main search one article title
$drawerSearchResultTitleFontSize = 18px
$drawerSearchResultTitleWeight = 500
$drawerSearchResultTitleLineHeight = 20.97px
$drawerSearchResultTitleColor = black

//main search one article text
$drawerSearchResultTextColor = black
$drawerSearchResultTextFontSize = 14px
$drawerSearchResultTextLineHeight = 21px

//main search article breadcrumb
$drawerSearchResultBreadcrumbColor = #3D3D3D
$drawerSearchResultBreadcrumbTextSize = 12px
$drawerSearchResultBreadcrumbLineHeight = 13.87px

// hidden result button
$drawerHiddenResultBgColor = #F2F4F5
$drawerHiddenResultWidth = 100%
$drawerHiddenResultFontSize = 16px
$drawerHiddenResultColor = black

//highlight text
$drawerHighlightTextBgColor = #0B63CE
$drawerHighlightTextColor = white