@import "drawer/_drawer-variables.styl"
$mainColor = #0B63CE

//
$gray-500 = #adadad
$alice-blue = #e6f7ff

// colors
$buttonColorBg = #3F83F8
$colorLink = #106CDF;
$accentColor = $mainColor
$textColor = #314659
$layoutParagraphColor = #111928
$cardParagraphColor = #3D3D3D
$cardBorderColor = #E0E0E0
$borderColor = #e8e8e8
$codeBgColor = #2c2c34
$arrowBgColor = #fff
$headerColor = #0d1a26
$siteNameColor = #fff
$siteNameBorderColor = #fff
$inputTextColor = #fff
$buttonBorderColor = #fff
$buttonTextColor = #fff
$picPath = "search.svg"
$selectBorderColor = #D1D5DB
$sidebarBgColor = #F3F4F6
$dropdownBgColor = $sidebarBgColor
$footerCompanyTitle = #d8d8d8
$sidebarHeadingColorText = #3a3d3f
$breadcrumbColor = $gray-500


// layout
$navbarHeight = 4rem
$sidebarWidth = 18.5rem
$contentWidth = 847px
$footerHeight = 102px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py

$layout-vertical-padding = 0.7rem
$layout-horizontal-padding = 1.5rem

$text-default = 14px
$selectBorderRadius = 8px
$homeSearchBorderRadius = 2rem
$defaultSearchBorderRadius = 20px
