.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem

  &.tip, &.warning, &.danger
    font-size: 0.85rem
    padding .1rem 1.5rem
    border-radius 6px
    margin 1rem 0

  &.tip
    background-color #ffeedb

  &.warning
    background-color #ffdede

    a
      color $textColor

  &.danger
    background-color #ffe6e6

    a
      color $textColor