@require './config'

.nav-arrow
  display block
  font-weight 200

  &.top
    height 4rem
    width 4rem
    background url(../public/arrow-upward.svg) no-repeat center center;

  &.left
    height 3rem
    width 3rem
    background url(../public/arrow-left.svg) no-repeat center center;

  &.right
    height 3rem
    width 3rem
    background url(../public/arrow-right.svg) no-repeat center center;

  &:hover,
  &:active
    opacity 0.8
