$wrapper
  max-width $contentWidth
  margin 0 3rem
  @media (max-width: $MQNarrow)
    margin 0 0
    padding 2rem
  @media (max-width: $MQTablet)
    margin 0 3rem
  @media (max-width: $MQMobileNarrow)
    margin 0 0
    padding 0 1.5rem

